.tl_infofieldswizard table {
	margin:5px 0 10px 0;
}
.tl_infofieldswizard th {
  text-align:center;
	font-weight:normal;
  font-style:italic;
}
.tl_infofieldswizard td {
  text-align:center;
  padding:2px;
}
.tl_infofieldswizard img {
	position:relative;
	top:1px;
}
.tl_infofieldswizard div {
  background-color:#FAFACC;
}
.tl_infofieldswizard .tl_select {
  background-color:#FFFFFF;
}
.tl_infofieldswizard .field1 {
  width:240px;
  border:1px solid #ccc;
}
.tl_infofieldswizard .field2 {
  width:100px;
  border:1px solid #ccc;
}
.tl_infofieldswizard .field3 {
  width:100px;
  border:1px solid #ccc;
}
.tl_infofieldswizard .field4 {
  width:100px;
  border:1px solid #ccc;
}
.tl_infofieldswizard .buttons {
  padding:1px 3px;
}
.tl_infofieldswizard .current {
  padding-top:2px;
}
.tl_infofieldswizard .position {

  border:1px solid #ccc;
}
.tl_infofieldswizard .type {
  height:40px;
  clear:left;
}
.tl_infofieldswizard .list {
  height:40px;
  clear:right;
}
.tl_infofieldswizard .mandatory {
  height:40px;
  clear:left;
}
.tl_infofieldswizard .mandatory .tl_checkbox {
  margin-top:5px;
}
.tl_infofieldswizard .visible {
  height:40px;
  clear:right;
}
.tl_infofieldswizard .visible .tl_checkbox {
  margin-top:5px;
}
.tl_infofieldswizard .sorting {
  height:40px;
  clear:left;
}
.tl_infofieldswizard .update {
  height:30px;
  padding-top:10px;
}
.tl_help {
  clear:both;
}

